---
interface Props {
  DOMId: string;
  title: string;
  images: {
    title: string;
    src: string;
    page?: string;
  }[];
  withLink: boolean;
  withBackground: boolean;
  withTitle: boolean;
}

const { title, images, DOMId, withLink, withBackground, withTitle }: Props =
  Astro.props;
---

<script>
  import Swiper, { Navigation } from "swiper";
  import "swiper/css";
  import "swiper/css/navigation";

  const swiper = new Swiper(".swiper", {
    modules: [Navigation],
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    slidesPerView: 1,
    spaceBetween: 10,
    breakpoints: {
      1024: {
        slidesPerView: 2,
      },
    },
  });
</script>

<div class={`${withBackground ? "bg" : ""} wrapper`}>
  <section id={DOMId} class="container">
    <h2 class="title">{title}</h2>

    <div class="swiper">
      <div class="swiper-wrapper">
        {
          images.map((i) => (
            <div class="swiper-slide image-container">
              <img class="pic" src={i.src} />
              {withLink && (
                <span class="desc">{i.title}</span>
                <a class="link" href={i.page}>
                  Подробнее
                </a>
              )}
            </div>
          ))
        }
      </div>

      <div class="swiper-button-prev">
        <!-- <img src="assets/icons/left.png"> -->
      </div>
      <div class="swiper-button-next">
        <!-- <img src="assets/icons/right.png"> -->
      </div>
    </div>
  </section>
</div>

<style>
  .wrapper {
    padding: 60px 0;
    margin-bottom: 40px;
  }
  .container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .bg {
    background-color: var(--color-bg-second);
  }
  .title {
    text-align: center;
    margin-top: 0;
  }
  .swiper {
    width: 100%;
  }
  /* .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20px;
  }
  .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-right: 20px;
  }
  .swiper-button-prev::after {
    content: '';
  }
  .swiper-button-next::after {
    content: '';
  } */
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
    border: 1px solid var(--color-bg-third);
    color: var(--color-bg-third);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
  }
  .link:hover {
    background-color: var(--color-bg-third);
    color: white;
    transition: 0.3s;
  }
  .desc {
    width: 70%;
    text-align: center;
    margin-top: 20px;
  }
  .pic {
    width: 100%;
    object-fit: cover;
  }
</style>
