---
import { navItemsFooter, navItemsFooterFull } from "../data/nav";
import { contacts } from "../data/contacts";

export interface Props {
  isMainPage: boolean;
}

const { isMainPage }: Props = Astro.props;
---

<footer id="footer" class="footer">
  <div class="wrapper">
    <div class="logo-wrapper">
      <a href="/#header">
        <img class="logo" src="/assets/images/logo-in-footer.svg" alt="LOGO" />
      </a>
    </div>

    <ul class="list">
      {
        (isMainPage ? navItemsFooter : navItemsFooterFull).map((item) => (
          <li class="list-item">
            <a class="link" href={item.href}>
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>

    <div class="contacts-list-wrapper">
      <ul class="contacts-list">
        {
          contacts.map((c) => (
            <li class="contacts-list-item">
              <a href={c.href} class="contacts-list-item-link" target="_blank">
                <img
                  src={c.src}
                  alt={c.href}
                  class="contacts-list-item-link-image"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <small class="copyright"
    >&copy;&nbsp;Психология диабета Клинический психолог Ксения Демакова 2023</small
  >
  <a class="link-dev" target="_blank" href="https://vk.com/demakov_a_i">Сreated by</a>
</footer>

<style>
  .footer {
    position: relative;
    color: white;
    background-color: #00112a;
    padding: 40px 10px;
  }
  .wrapper {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto 60px;
  }
  .logo-wrapper {
    width: 33%;
  }
  .list {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .list-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .link {
    color: white;
    text-decoration: none;
    white-space: nowrap;
  }
  .contacts-list-wrapper {
    width: 33%;
    display: flex;
    justify-content: flex-end;
  }
  .contacts-list {
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .contacts-list-item-link-image {
    width: 40px;
    height: 40px;
  }
  .contacts-list-item {
    margin-bottom: 20px;
  }
  .contacts-list-item:not(:last-child) {
    margin-right: 20px;
  }
  .contacts-list-item:nth-child(3) {
    margin-right: 0;
  }
  .copyright {
    display: block;
    text-align: center;
  }

  .link-dev {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    color: white;
    font-size: 12px;
    padding: 10px;
  }

  @media (max-width: 860px) {
    .wrapper {
      flex-direction: column;
      align-items: center;
    }
    .logo-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
    }
    .list {
      margin-bottom: 60px;
    }
    .contacts-list-wrapper {
      width: 100%;
      justify-content: center;
    }
  }

  @media (max-width: 520px) {
    .contacts-list-item-link-image {
      width: 30px;
      height: 30px;
    }
    .contacts-list {
      width: 140px;
    }
  }
</style>
